In [1]:
import pandas as pd
import os

In [2]:
os.listdir('/home/jwells/Documents/ColabFold/experiment_notebooks')

['check_msas.py',
 'missing_sequences.csv',
 '.ipynb_checkpoints',
 'check MSAs.ipynb']

In [3]:
df = pd.read_csv('/home/jwells/Documents/ColabFold/experiment_notebooks/missing_sequences.csv')

In [4]:
df.head()

,PDBID,CHAIN,PDB_RESIDUE_NO,combined,sequence,domain_id
0,4u2r,A,"64,239,69,235,80,81,93,236,226,104,105,97,149,...",4u2rA,GANKTVVVTTILESPYVMMKKNHEMLEGNERYEGYCVDLAAEIAKH...,4U2RA
1,2v08,A,"25,26,65,17,58,",2v08A,DADLATGAKVFSANCAACHAGGINLVNAEKTLKKEALEKFGMNSIV...,2V08A
2,1sp4,A,"28,29,24,25,26,27,20,21,48,23,46,47,44,45,42,4...",1sp4A,LPESFDAREQWPNCPTIKEIRDQGSCGSCWAFGAVEAISDRICIHSNG,1SP4A
3,1tpu,B,"64,67,82,83,86,85,76,48,49,46,47,45,79,77,98,7...",1tpuB,APRKFFVGGNWKMNGDKKSLGELIHTLNGAKLSADTEVVCGAPSIY...,1TPUB
4,3n2y,A,"216,39,212,210,207,209,208,303,40,218,224,221,...",3n2yA,MDEFEMIKRNTSEIISEEELREVLKKDEKSALIGFEPSGKIHLGHY...,3N2YA

In [6]:
set(list('raaat'))

{'a', 'r', 't'}

In [ ]:
success_df =

In [7]:
amino = set()
for i, row in df.iterrows():
    amino.update(set(list(row.sequence)))

In [12]:
full_df = pd.read_csv('/home/jwells/Documents/cath-funsite-predictor/PPI_training_dataset_with_sequences.csv')
full_df[full_df.sequence.str.contains('X')]

,PDBID,CHAIN,PDB_RESIDUE_NO,combined,sequence
0,4dmb,B,"150,153,157,22,190,61,117,67,68,24,25,27,20,21...",4dmbB,XASVSSATFSGHGARSLLQFLRLVGQLKRVPRTGWVYRNVQRPESV...
2,4e5w,A,"1043,1095,1041,1040,1054,1055,1056,1096,1098,1...",4e5wA,GDIVSEKKPATEVDPTHFEKRFLKRIRDLGEGHFGKVELCRYDPEG...
6,3axj,B,"151,150,199,198,195,194,196,133,132,111,136,11...",3axjB,XPKNGGAGHRNTAPRKRQIPAAQLDEDSPIVQQFRIYSNELIXKHD...
16,3egi,A,"742,745,669,667,666,665,701,693,731,730,734,75...",3egiA,GPLGSRLFSRFDDGIKLDREGWFSVTPEKIAEHIAGRVSQSFKCDV...
17,3etf,A,"458,217,214,339,459,313,312,453,317,455,218,31...",3etfA,XTXXTATQALSVNPATGQTLAAXPWANAQEIEHALSLAASGFKKWK...
...,...,...,...,...,...
1752,1x7d,B,"339,41,334,324,336,331,330,333,332,68,88,97,11...",1x7dB,MTYFIDVPTXSDLVHDIGVAPFIGELAAALRDDFKRWQAFDKSARV...
1766,1sxj,A,"669,668,693,691,542,543,405,404,546,547,401,40...",1sxjA,MGSSHHHHHHSSGLEVLFQGPHMASDKLWTVKYAPTNLQQVCGNKG...
1772,3o65,A,"178,98,68,62,116,97,65,67,82,174,86,48,119,44,...",3o65A,GXDFIFHEKQEGFLCAQHCLNNLLQGEYFSPVELASIAHQLDEEER...
1773,4gic,B,"212,210,112,114,130,397,396,395,394,234,399,39...",4gicB,SXTEVKIKRLYTGDADFASQLDRLLAWSESEDTDIHQRVTEIIGCI...
1783,1yqc,A,"36,60,137,35,113,82,80,138,86,85,20,21,22,49,4...",1yqcA,XKLQVLPLSQEAFSAYGDVIETQQRDFFHINNGLVERYHDLALVEI...

In [13]:
df.sequence.apply(lambda x: len(x))

0     263
1      86
2      48
3     247
4     314
5     215
6      81
7     333
8     365
9     792
10     64
11    543
12    415
13    379
14    212
15    359
16    228
17    277
18    392
19    387
20    153
21    417
22    253
23    170
Name: sequence, dtype: int64

In [10]:
amino - set(list('GAVCPLIMWTFKRHSTYNQDE'))

{'X'}

In [8]:
amino

{'A',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'K',
 'L',
 'M',
 'N',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'V',
 'W',
 'X',
 'Y'}