In [1]:
import os
import pandas as pd

In [2]:
basedir = '../datasets/PPI/NEEL-generated_dataset/'
df = pd.read_csv(basedir+'PPI_training_dataset_NS.tsv',delimiter='\t')

In [3]:
df.head()

  PDBID CHAIN                                     PDB_RESIDUE_NO
0  4dmb     B  150,153,157,22,190,61,117,67,68,24,25,27,20,21...
1  1yt5     D  8,210,212,149,164,131,124,125,184,127,252,165,...
2  4e5w     A  1043,1095,1041,1040,1054,1055,1056,1096,1098,1...
3  4dgl     B  199,200,197,134,191,190,193,192,89,111,110,113...
4  3n2n     A  217,214,213,210,211,195,190,218,132,136,135,13...

In [6]:
df.iloc[0, 0], df.iloc[0, 1], df.iloc[0, 2]

('4dmb',
 'B',
 '150,153,157,22,190,61,117,67,68,24,25,27,20,21,48,47,44,45,28,29,182,183,186,187,146,149,75,72,71,15,59,14,55,54,51,52,18,')